<extend name="Public:base" />

<!-- 添加副导航 -->
<block name="sub-nav">
    <ul>
        <li><a href="__CONTROLLER__/index/id/{$blink.id}" class="heading" id="reviewlist" >友情链接列表</a></li>
        <li><a href="__CONTROLLER__/add/id/{$blink.id}" class="heading" id="reviewlist" >添加友情链接</a></li>
    </ul>
</block>
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/admin/css/review/add.css">

<!-- 内容主体 -->
    <div class="dashboard-wrapper">

<!-- 左边框 -->
        <div class="left-sidebar" >  

<!-- 左边内容 -->
            <div class="row-fluid">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">友情链接管理</div>
                    </div>
                    <div class="widget-body">

<!-- 用户列表表格 -->
                        <table class="table table-condensed table-striped table-bordered table-hover no-margin" id="table">

<!-- 表头 -->
                            <thead>
                                <tr>
                                    <th style="width:5%">
                                        选择
                                    </th>
                                    <th style="width:5%">
                                        ID
                                    </th>
                                    <th style="width:15%" class="hidden-phone">
                                        友链名称
                                    </th>
                                    <th style="width:30%" class="hidden-phone">
                                        友链地址
                                    </th>
                                    <th style="width:15%" class="hidden-phone">
                                        logo
                                    </th>
                                    <th style="width:10%" class="hidden-phone">
                                        排序
                                    </th>
                                    <th style="whdth:10%" class="hidden-phone">
                                        类型
                                    </th>
                                    <th style="width:10%" class="hidden-phone">
                                        操作
                                    </th>
                                </tr>
                            </thead>

<!-- 表格主体内容 -->
                            <tbody>
                                <foreach name="link" item="blink">
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="no-margin" />
                                        </td>
                                        <td class="hidden-phone">
                                            {$blink.id}
                                        </td>
                                        <td class="hidden-phone">
                                            {$blink.linkname}
                                        </td>
                                        <td class="hidden-phone" id="td">
                                            {$blink.url}
                                        </td>
                                        <td class="hidden-phone" id="td">
                                            {$blink.logo}
                                        </td>
                                        <td class="hidden-phone">
                                            {$blink.orderno}
                                        </td>
                                        <td class="hidden-phone">
                                            {$blink.type}
                                        </td>
                                        <td class="hidden-phone">
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">
                                                    操作
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="__CONTROLLER__/edit/id/{$blink.id}">修改</a>
                                                    </li>
                                                    <li>
                                                        <a href="__CONTROLLER__/deleteLink/id/{$blink.id}">删除</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </foreach>
                            </tbody>                               
                         </table>
                    </div>

<!--分页设置开始-->
                    <div class="manu pagination widget-body">{$page}</div>
                    <link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css" />
                    <link rel="stylesheet" href="__PUBLIC__/admin/css/page.css" />
                    
<!--分页设置结束-->
                  </div>
             </div>
        </div>

<!-- 右侧搜索部分 -->
                <div class="right-sidebar" id="form">  
                    <input type="text" placeholder="电影名称" class="search-query" style="width:150px">
                </div>
            </div>
</block>

<!-- JS控制导航 -->
<block name="script">
    <script type="text/javascript">
        $('#index').removeAttr("class");
        $('#flinks').attr("class","selected");
    </script>
</block>