<extend name="Public:base" />

<!-- 副导航 -->
<block name="sub-nav">
    <ul>
        <li><a href="__MODULE__/users/users" class="heading"id="userslist">用户列表</a></li>
        <li><a href="__MODULE__/users/add"id="addlist">添加用户</a></li>
    </ul>
</block>

<!-- 主体内容 -->
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/admin/css/uploadify.css">
    <div class="dashboard-wrapper">

<!-- 左侧框架 -->
        <div class="left-sidebar"> 
            <div class="row-fluid">
                <div class="widget no-margin">
                    <div class="widget-header">
                        <div class="title">
                                添加用户
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="container-fluid">
                            <div class="row-fluid">

<!-- 头像 -->
                                <div class="span3">
                                    <div class="thumbnail">
                                        <div id="imgs">
                                            <img  src="__PUBLIC__/admin/img/profile.png" style='height:151px;width:132px;'>
                                        </div>
                                        <div>
                                            <input id="file_upload" name="file_upload" type="file" multiple="true" value="" />
                                        </div>
                                    </div>
                                </div>

<!-- 添加用户表单 -->
                                <div class="span9">
                                    <form class="form-horizontal" method="post" action="__CONTROLLER__/insert">
                                        <h5>填写用户信息</h5><hr>
                                        <div class="control-group">
                                            <label class="control-label">Email</label>
                                            <div class="controls">
                                                <input type="email" name="email"id="a"required>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">名号</label>
                                            <div class="controls">
                                                <input type="text"name="username"required>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">
                                                密码
                                            </label>
                                            <div class="controls">
                                                <input type="password"name="userpwd"required>
                                            </div>
                                        </div>
                                         <div class="control-group">
                                            <label class="control-label">
                                                常居地
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="area">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">
                                                用户组
                                            </label>
                                            <div class="controls">
                                                <select name="level">
                                                    <option value="1">超级管理员</option>
                
                                                    <option value="3"selected>普通会员</option>
                                                </select>
                                            </div>
                                        </div>
                                        <input type="hidden" name="image" id="hic">
                                        <div class="controls" style="margin-top:50px;">
                                            <button type="submit" class="btn btn-info">
                                                    保存
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>           
</blcok>

<!-- js控制导航 -->
<block name="script">
    <script src='__PUBLIC__/admin/js/jquery.js'></script>
    <script src='__PUBLIC__/admin/js/jquery.uploadify.min.js'></script>
    <script type="text/javascript">
        $('#index').removeAttr("class");
        $('#users').attr("class","selected");
        $('#userslist').removeAttr("class");
        $('#addlist').attr("class","heading");
    </script>

<!-- 头像上传 -->
    <script>
        var img = '';
        $('#file_upload').uploadify({
                'swf'      : '__PUBLIC__/admin/css/uploadify.swf',
                'uploader' : '{:U("Users/upload")}',
                'buttonText' : '头像上传',
                'onUploadSuccess' : function(file, data, response) {
                $('#hic').val(data);
                 img = "<img style='height:151px;width:132px;' src='__PUBLIC__/upload/images/"+data+"'id='hic'>";
                $('#imgs').html(img);
                $('#images').val(data);
            }
        });
    </script>
</block>
