<extend name="Public:base" />

<!-- 添加副导航 -->
<block name="sub-nav">
    <ul>
        <li><a href="__MODULE__/review/review" class="heading" id="reviewlist" >影评列表管理</a></li>
        <li><a href="__MODULE__/replies/replies" id="replieslist">影评回复管理</a></li>
        <li><a href="__MODULE__/questions/questions" id="questionslist">问题列表管理</a></li>
        <li><a href="__MODULE__/answers/answers" id="answerslist">回答列表管理</a></li>
        <li><a href="__MODULE__/grades/grades" id="gradeslist">评分列表管理</a></li>
        <li><a href="__MODULE__/wmovies/wmovies" id="wmovieslist">想看管理</a></li>
    </ul>
</block>
<block name="content">
	
    <div class="dashboard-wrapper">


</block>